<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fid</key>
		<string>1001</string>
		<key>name</key>
		<string>热门单曲</string>
	</dict>
	<dict>
		<key>fid</key>
		<string>1002</string>
		<key>name</key>
		<string>热门音乐人</string>
	</dict>
	<dict>
		<key>fid</key>
		<string>1</string>
		<key>name</key>
		<string>分类</string>
	</dict>
	<dict>
		<key>fid</key>
		<string>2</string>
		<key>name</key>
		<string>离线</string>
	</dict>
	<dict>
		<key>fid</key>
		<string>1004</string>
		<key>name</key>
		<string>设置</string>
	</dict>
</array>
</plist>
